extends layout


block content  
  div
    h1 Results
  div.row
    div.col-lg-4
    div#first.col-lg-4
      table.table.table-striped.table-bordered
        thead
          tr
            th Name 
            th ID
            th Return Location
            th Finder's email
        tbody
          each user, i in result
            tr
              td #{user.studentname}
              td #{user.idnumber}
              td #{user.returnlocation}
              td #{user.finderemail}

