extends layout

block content
    h1= orange
    form#formAddFound(name="addfound",method="post",action="/addfound")
        input#inputIdNumber(type="text", placeholder="9051234567", name="idnumber")
        input#inputName(type="text", placeholder="Jane H. Doe", name="studentname")
        input#inputLocation(type="text", placeholder="McComas Desk", name="returnlocation")
        input#inputFinderEmail(type="text", placeholder="me@vt.edu", name="findemail")
        button#btnSubmit(type="submit") submit