extends layout

block content
    h1 What is your id?
    form#formAddFound(name="searchlist",method="post",action="/searchlist")
        input#inputIdNumber(type="text", placeholder="9051234567", name="idnumber")
        button#btnSubmit(type="submit") submit