/* --------------------------------------
      Layout
-------------------------------------- */


/* for the top of the page*/
h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-kerning:normal;
    font-size:65pt;
    color:#ffffff;
    text-align: center;
    margin-top: 75px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size:45pt;
    color:#ffffff;
    margin-left:75px;
}

/*for the results page*/
h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align:center;
    font-size:20pt;
    color:#ffffff;
    margin:15px;
}



/* the button for "I found" & "I lost"*/
#lost-or-found {
    font-size:15pt;
    background:none;
    border-radius:2px;
    border-color:#ffffff;
    vertical-align:middle;
    position:relative;
    margin:20px;
}

/* Search & submit buttons on the forms  */
#form-button {
    font-size:11pt;
    color:#ffffff;
    background:none;
    border-radius:1px;
    border-color:#ffffff;
    border-collapse:separate;
    margin:0px;
}


/* The found info*/
#found-bold {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align:left;
    font-size: 14pt;
    margin: 3px;
    color:#ffffff;
}

#found-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size:12pt;
    color:#ffffff;
    margin: 3px;
    text-align: center;
}

.results {
    
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size:12pt;
    
}


/*Puts the form in the middle of the page*/
.modal-vertical-centered {
transform: translate(0, 50%) !important;
-ms-transform: translate(0, 50%) !important; /* IE 9 */
-webkit-transform: translate(0, 50%) !important; /* Safari and Chrome */
}

.modal-dialog {
    width:415px;
    /*background-color:rgba(255, 255, 255, 0.2);*/
}

.modal-content{
    border-radius:3px;
    background-color:rgba(255, 255, 255, 0.8);
}


input {
    height:35px;
    width:350px;
    margin-bottom:15px;
}

select {
   margin-bottom:15px; 
}

.table {
    
}


.btn {
    border-color:#ffffff;
}

/*
IDK About this stuff
*/
.row #but{
    position: inherit;
    top: 30%;
    text-align: center;
}

/*
   .btn {
      box-shadow: 1px 2px 15px 0px rgba(50, 50, 50, 0.75);
   }

   #top {
      padding: 100px;
      background-color:rgba(255,0,0,0.5);
      box-shadow: 1px 8px 15px 0px rgba(50, 50, 50, 0.75);
   }
*/

#first {
    text-align: center;
}

body{
    font-family: 'Open Sans', sans-serif;
    background: url(../../images/torg2.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

   /*background-image: -o-linear-gradient(right bottom, #FCF7F8 0%, #738ED4 82%);
   background-image: -moz-linear-gradient(right bottom, #FCF7F8 0%, #738ED4 82%);
   background-image: -webkit-linear-gradient(right bottom, #FCF7F8 0%, #738ED4 82%);
   background-image: -ms-linear-gradient(right bottom, #FCF7F8 0%, #738ED4 82%);
   background-image: linear-gradient(to right bottom, #FCF7F8 0%, #738ED4 82%);*/
}

th {
    text-align: center;
}
   /*#but {
      position: absolute;
      top: 50%;
   }*/


   /* --------------------------------------
      Typography
      -------------------------------------- */



   /* --------------------------------------
      Navbar
      -------------------------------------- */


      
   /* --------------------------------------
      Carousel
      -------------------------------------- */



   /* --------------------------------------
      Global Styles
      -------------------------------------- */


   /* --------------------------------------
      Media Queries
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap*/

/* Small devices (tablets, 768px and up) *
@media (min-width: @screen-sm-min) {
         background-image: url(../../images/tokyo.jpg);

}

/* Medium devices (desktops, 992px and up) *
@media (min-width: @screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) *
@media (min-width: @screen-lg-min) {

}
      -------------------------------------- */

   /* Portrait & landscape phone */7

   /* Landscape phone to portrait tablet */

   /* Large desktop */






