


   /* --------------------------------------
      Layout

      -------------------------------------- */
   h1 {
      text-align: center;
   }

   .row #but{
      position: absolute;
      top: 30%;
      text-align: center;
   }

   #myModal {
      text-align: left;

   }

   .modal-body{
      background-color:rgba(255,0,0,0.5);
   }

   .btn {
      box-shadow: 1px 8px 15px 0px rgba(50, 50, 50, 0.75);
   }

   #top {
      padding: 100px;
      background-color:rgba(255,0,0,0.5);
      box-shadow: 1px 8px 15px 0px rgba(50, 50, 50, 0.75);
   }
   #first {
      text-align: center;

   }
   body{

   background-image: url(/images/random.jpg);

   /*background-image: -o-linear-gradient(right bottom, #FCF7F8 0%, #738ED4 82%);
   background-image: -moz-linear-gradient(right bottom, #FCF7F8 0%, #738ED4 82%);
   background-image: -webkit-linear-gradient(right bottom, #FCF7F8 0%, #738ED4 82%);
   background-image: -ms-linear-gradient(right bottom, #FCF7F8 0%, #738ED4 82%);
   background-image: linear-gradient(to right bottom, #FCF7F8 0%, #738ED4 82%);*/
   }
   th {
      text-align: center;
   }
   /*#but {
      position: absolute;
      top: 50%;
   }*/

   /* --------------------------------------
      Typography
      -------------------------------------- */



   /* --------------------------------------
      Navbar
      -------------------------------------- */


      
   /* --------------------------------------
      Carousel
      -------------------------------------- */



   /* --------------------------------------
      Global Styles
      -------------------------------------- */


   /* --------------------------------------
      Media Queries
      -------------------------------------- */

   /* Portrait & landscape phone */

   /* Landscape phone to portrait tablet */

   /* Large desktop */